name: Get actual data

on:
  push:
  schedule:
    - cron: 30 7 * * *
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install pandas
            if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Save current vaccination data
        run: python vaccinations_czechia.py

      - name: push
        uses: github-actions-x/commit@v2.7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          push-branch: 'master'
          commit-message: 'add todays vaccination data'
          force-add: 'true'
          files: aggregation.csv by_date_and_region.csv by_manufacturer.csv by_region.csv registrations_by_date.csv registrations_by_date_and_region.csv registrations_by_region.csv
          name: vykend
          email: vykend@users.noreply.github.com
